<div data-options="dxView : { name: 'About', title: 'About', pane: 'master' } " >
    <div class="background" data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxScrollView: {}">
            <div align="center">
                <h1>Dashbaords</h1>
            </div>
            <div class="about-content">
                <h2 class="about-headline">Application</h2>
                <p class="about-p-text">
                    This application's purpose, is to give you the user, a brief overview of the dashbaord created in the Analytics Designer.
                    With this application, you can quickly analyze data, and use this data to inspect flaws.
                </p>
                <hr />
                <h2 class="about-headline">Mobile specific</h2>
                <p class="about-p-text">
                    Make sure that you create a basic dashboard, maintaining minimal data, as this application is used to quickly get an overview of your data.
                    If flaws are found, make sure you have a dashboard for desktop, which is more detailed, and which lets you analyze your data even more!
                </p>
            </div>
        </div>
    </div>
</div>